/* .schRegContainer{
    width: 100%;
    height: max-content;
}

.SchRegLogo{
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
}

.SchRegLogoContainer{
    width: 15%;
    height: 100%;
}

.SchRegLogoContainer img {
    width: 100%;
    height: 100%;
}

.SchRegLogoInputs{
    width: 90%;
    height: 150vh;
    background: cyan;
}

.upperInput{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
}

.Register{
    width: 49%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.instituteName{
    width: 95%;
    height: 20%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.instituteInputholder{
    width: 85%;
    height: 70%;
    background: rgb(1, 102, 102);
}

.InstituteNameInput{
    width: 85%;
    height: 50%;
    border-radius: 10px;
    border: 2px solid#127CDD;
    outline: none;
    padding-left: 50px;
}


.InstitutionNameLogo{
    position: absolute;
    left: 3%;
    top: 60%;
} */



























.SchRegContainer{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.SchRegLogo{
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
}
.SchRegLogoContainer{
    width: 15%;
    height: 100%;
}
.SchRegLogoContainer img {
    width: 100%;
    height: 100%;
}
.SchRegLogoInputs{
    width: 90%;
    height: 150vh;
}
.upperInput{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
}

.RegisterMobile{
    display: none;
}
.MobileUpperInput{
    display: none;
}
.Register{
    width: 49%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.instituteName{
    width: 100%;
    height: 20%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.InstituteNameInput{
    width: 85%;
    height: 50%;
    border-radius: 10px;
    border: 2px solid#127CDD;
    outline: none;
    padding-left: 50px;
}

.error {
    border: 2px solid red;
}

.InstitutionNameLogo{
    position: absolute;
    left: 3%;
    top: 60%;
}
.HidePasswordIcon{
    position: absolute;
    right: 20%;
    top: 59%;
    cursor: pointer;
}
.RegistrationImage{
    width: 49%;
    height: 100%;
}
.RegistrationImage img{
    height: 100%;
    width: 100%;
}
.lowerInput{
   width: 100%;
   height: 50%;
   display: flex;
   justify-content: space-between;
}
.RegisterLowerLeft{
    width: 49%;
    height: 100%;
}
.RegisterLowerRight{
    width: 49%;
    height: 100%;
}
.backBtn{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.backButton{
    width: 20%;
    height: 40%;
    border: none;
    border-radius: 7px;
    background: #F7B905;
}
.submitBtn{
    width: 100%;
    height: 20%;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.Submit{
    width: 20%;
    height: 40%;
    border: none;
    border-radius: 7px;
    background: #F7B905;
}