/* @media only screen and (min-width: 320px) and (max-width: 580px) {
.signUpContainer{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.signUpLogo{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
}
.signUpLogoContainer{
    width: 15%;
    height: 100%;
}
.signUpLogoContainer img {
    width: 100%;
    height: 100%;
}
.SignUpInputs{
    width: 90%;
    height: 150vh;
}
.MobileUpperInput{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.RegisterMobile{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.Register{
    display: none;
}
.RegistrationImage{
    display: none;
}
.instituteName{
    width: 100%;
    height: 10%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.lowerInput{
    display: none;
}
.hidePasswordIconMobile{
    position: absolute;
    right: 20%;
    top: 59%;
    cursor: pointer;
}
.BackAndSubmitBtn{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
}
.backButtonMobie{
    width: 30%;
    height: 20%;
    border: none;
    border-radius: 7px;
    background: #F7B905;
}
.submitButtonMobile{
    width: 30%;
    height: 20%;
    border: none;
    border-radius: 7px;
    background: #F7B905;
}
} */

/* @media only screen and (min-width: 580px) and (max-width: 1024px) {
.signUpContainer{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.signUpLogo{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
}
.signUpLogoContainer{
    width: 15%;
    height: 100%;
}
.signUpLogoContainer img {
    width: 100%;
    height: 100%;
}
.SignUpInputs{
    width: 90%;
    height: 150vh;
}
.RegistrationImage{
    width: 49%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.RegistrationImage img{
    height: 60%;
    width: 100%;
}
.RegisterMobile{
    display: none;
}
.MobileUpperInput{
    display: none;
}
.backButton{
    width: 30%;
    height: 40%;
    border: none;
    border-radius: 7px;
    background: #F7B905;
}
.Submit{
    width: 30%;
    height: 40%;
    border: none;
    border-radius: 7px;
    background: #F7B905;
}
} */

@media only screen and (min-width: 320px) and (max-width: 580px) {
    .schRegContainer{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .SchRegLogo{
        width: 100%;
        height: 15vh;
        /* display: flex;
        justify-content: center; */
    }
    
    .SchRegLogoContainer{
        width: 30%;
        height: 100%;
    }
    
    .SchRegLogoContainer img {
        width: 100%;
        height: 100%;
    }
    
    .formTitle{
        font-size: 10px;
        height: 2%;
    }

    .inputTitle{
        color: #3f3d56;
        width: 95%;
        font-size: 10px;
    }

    .SchRegLogoInputs{
        width: 95%;
        height: 120vh;
        /* background: cyan; */
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .instituteName{
        justify-content: center;
        align-items: center;
    }

    .leftInput{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }
}

@media only screen and (min-width: 580px) and (max-width: 1024px) {
    .schRegContainer{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .SchRegLogo{
        width: 100%;
        height: 19vh;
    }
    
    .SchRegLogoContainer{
        width: 30%;
        height: 100%;
    }
    
    .SchRegLogoContainer img {
        width: 100%;
        height: 100%;
    }
    
    .formTitle{
        font-size: 20px;
        height: 3%;
    }

    .inputTitle{
        color: #3f3d56;
        width: 95%;
        font-size: 15px;
    }

    .SchRegLogoInputs{
        width: 95%;
        height: 120vh;
        /* background: cyan; */
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .instituteName{
        justify-content: center;
        align-items: center;
    }

    .leftInput{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    .leftRegister{
        width: 60%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* border: 1px solid black; */
    }
}